@using HaiSanShop.Data.Entites
@model IEnumerable<LoaiThanhVien>

<h2>Danh Sách Loại Thành Viên Phân Quyền</h2>
<table class="table table-striped table-bordered table-responsive-md table-sm" width="100%" cellspacing="2">
    <tr>
        <th>Mã Loại</th>
        <th>Tên Loại</th>
        <th class="th-sm">
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLoaiTV</td>
            <td>@item.TenLoai</td>
            <td align="center" class="w-25"><a class="btn btn-success" href="@Url.Action("PhanQuyenTV","QLThanhVien",new {@id=item.MaLoaiTV})">Phân Quyền</a></td>
        </tr>
    }
</table>
