@{
    ViewBag.Title = "Thông Tin Liên Hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Đại Lý Hải Sản Sầm Sơn<br />
    34 Hồ Xuân Hương TP.Sầm Sơn<br />
    <abbr title="Phone">Phone:</abbr>
    0862560197
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:HaiSanSamSon@gamil.com">HaiSanSamSon@gamil.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing.HaiSanSamSon@gmail.com">Marketing.HaiSanSamSon@gmail.com</a>
</address>