
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Giới thiệu về HaiSanSamSon</h2>
<h3><span>
    <br />
    HaiSanSamSon (HaiSanSamSon.vn) kính chào Quý khách. Chúc Quý khách dồi dào sức khỏe, nhiều may mắn và thành đạt ! Rất cảm ơn vì đã ghé thăm website của chúng tôi.
    <br /><br />
    chúng tôi luôn đặt chất lượng lên hàng đầu , vì thế chúng tôi luôn chọn nhập những 
        loại hải sản tốt nhất để có thể cung cấp cho quý khách

</span></h3>
