@{
    Layout=null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang Phản Hồi Quyền Truy Cập</title>
</head>
<body>
    <center>
        <div class="container">
            <h2>Bạn Không Đủ Quyền Để Truy Cập Trang Này, Vui Lòng Quay Về Trang Chủ</h2>
            @Html.ActionLink("Trang Chủ", "Index", "Home")
            
        </div>
    </center>
   
</body>
</html>
