
@{
    ViewBag.Title = "DatHangx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn Hàng Của Bạn Đang Được Xét Duyệt. Nhân Viên Sẽ Sớm Liên Hệ Với Bạn</h2>
<a class="btn btn-primary" href="@Url.Action("Index","Home")">Quay Lại Trang Chủ</a>

